@media screen and (max-width: 1000px) {
  body {
    .inner {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .inner {
      margin: 0 20px;
    }

    main {
      #portfolio {
        padding-bottom: 100px;

        .portfolio-inner {
          .skill {
            .skill-inner {
              padding: 50px 20px;

              .skill-column {
                width: inherit;

                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .about-zone {
        .about-inner {
          padding-bottom: 100px;

          .career {
            padding: 0px;

            p {
              font-size: 14px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }

    footer {
      height: 120px;

      .footer-inner {
        padding-top: 40px;
      }
    }
  }

  #works {
    main {
      .works-top {
        padding: 30px 0;
      }

      .works-image {
        margin-bottom: 70px;

        .mockup {
          width: 70%;
        }

        .url {
          font-size: 13px;
        }

        .bx-wrapper {
          margin: 0 10px 120px;
        }
      }

      .description {
        section {
          margin: 0 10px 120px;

          dl {

            .content {
              padding: 40px 20px;
            }

            .point-content {
              padding: 0 20px 40px;

              .point-img {
                width: 100%;
              }
            }

            .point-content1 {
              padding-top: 40px;
            }
          }
        }

        .works5 {
          margin: 0 10px 90px;

          .deliverables-all {
            .deliverables {
              margin-bottom: 70px;
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width:480px) {
  body {
    font-size: 13px;

    header {
      .header-inner {
        h1 {
          font-size: 13px;
        }

        nav {
          ul {
            li:first-child {
              margin-right: 25px;
            }

            li {
              font-size: 14px;
            }
          }
        }
      }
    }

    main {
      #portfolio {
        padding-top: 80px;
        padding-bottom: 80px;

        .portfolio-inner {
          .portfolio-all {
            .portfolio-run {
              margin-bottom: 50px;
            }

            .portfolio-column {
              display: block;

              div {
                width: 100%;
              }
            }
          }

          .skill {
            .skill-inner {
              padding: 40px 10px;

              .skill-column {
                .skill-div {
                  padding: 30px 10px;
                }
              }
            }
          }
        }
      }

      .about-zone {
        .about-inner {
          padding-top: 80px;
          padding-bottom: 80px;

          .career {
            padding: 0px;
          }
        }
      }
    }

    footer {
      height: 100px;
      background-size: auto;

      .footer-inner {
        padding-top: 30px;

        h1 {
          font-size: 10px;
        }
      }
    }
  }

  #works {
    main {
      .works-top {
        p {
          font-size: 13px;
        }

        h2 {
          font-size: 18px;
        }
      }

      .works-image {
        margin-bottom: 60px;

        .image {
          width: 85%;
        }

        .url {
          font-size: 13px;
        }
      }

      .description {
        margin-bottom: 80px;

        section {
          margin: 0 auto 80px;

          .title {
            h3 {
              font-size: 21px;
            }
          }

          dl {

            .content {
              padding: 20px 10px;
              flex-direction: column;

              dt {
                width: inherit;
                font-weight: bold;
                padding-bottom: 10px;
                font-size: 18px;
              }

              .color-div {
                .color-box-all {
                  justify-content: center;
                }
              }
            }

            .point-content {
              padding: 0 10px 20px;

              dt {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
              }

              dd {
                margin-left: 0px;
              }

              .point-img {
                flex-direction: column;
              }
            }

            .point-content1 {
              padding-top: 20px;
            }
          }

          .sticy {
            .sticy-img {
              height: 280px;
            }
          }
        }

        .works5 {
          margin: 0 auto 7 0px;

          .explanation {
            margin: 0 10px;

            .achievements-div {
              h4 {
                font-size: 16px;
              }

              p {
                font-size: 13px;
              }
            }
          }

          ul {
            li {
              font-size: 13px;
              line-height: 1.8;
            }
          }

          .deliverables-all {
            .deliverables-flex {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}