@media screen and (max-width: 1000px) {
  body .inner {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  body .inner {
    margin: 0 20px;
  }
  body main #portfolio .portfolio-inner .skill .skill-inner .skill-column p {
    font-size: 14px;
  }
  body main #about .about-inner .career p {
    font-size: 14px;
  }
  body footer {
    height: 120px;
  }
  body footer .footer-inner {
    padding-top: 40px;
  }
  #works main .works-top {
    padding: 30px 0;
  }
  #works main .works-image {
    margin-bottom: 70px;
  }
  #works main .works-image .mockup {
    width: 70%;
  }
  #works main .works-image .url {
    font-size: 13px;
  }
  #works main .works-image .bx-wrapper {
    margin: 0 10px 120px;
  }
  #works main .description section {
    margin: 0 10px 120px;
  }
  #works main .description section dl .content {
    padding: 40px 20px;
  }
  #works main .description section dl .point-content {
    padding: 0 20px 40px;
  }
  #works main .description section dl .point-content .point-img {
    width: 100%;
  }
  #works main .description section dl .point-content1 {
    padding-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
  body header .header-inner h1 {
    font-size: 13px;
  }
  body header .header-inner nav ul li:first-child {
    margin-right: 25px;
  }
  body header .header-inner nav ul li {
    font-size: 14px;
  }
  body main #portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  body main #portfolio .portfolio-inner .portfolio-all .portfolio-column {
    display: block;
  }
  body main #portfolio .portfolio-inner .portfolio-all .portfolio-column div {
    width: 100%;
  }
  body main #about .about-inner {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  body main #about .about-inner .career {
    padding: 0px;
  }
  body footer {
    height: 100px;
    background-size: auto;
  }
  body footer .footer-inner {
    padding-top: 30px;
  }
  body footer .footer-inner h1 {
    font-size: 10px;
  }
  #works main .works-top p {
    font-size: 13px;
  }
  #works main .works-top h2 {
    font-size: 18px;
  }
  #works main .works-image {
    margin-bottom: 60px;
  }
  #works main .works-image .image {
    width: 85%;
  }
  #works main .works-image .url {
    font-size: 13px;
  }
  #works main .description section {
    margin: 0 auto 120px;
  }
  #works main .description section dl .content {
    padding: 20px 10px;
    flex-direction: column;
  }
  #works main .description section dl .content dt {
    width: inherit;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 18px;
  }
  #works main .description section dl .content .color-div .color-box-all {
    justify-content: center;
  }
  #works main .description section dl .point-content {
    padding: 0 auto 20px;
  }
  #works main .description section dl .point-content dt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #works main .description section dl .point-content .point-img {
    flex-direction: column;
  }
  #works main .description section dl .point-content1 {
    padding-top: 20px;
  }
}/*# sourceMappingURL=responsive.css.map */